html{
    font-size: 1.5em;
    font-family: 'Josefin Sans', sans-serif;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body{
    min-height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
}

.content-description{
    vertical-align: top;
    float: none;
    display: inline-block;
}

#logoimage{
    background-color: rgb(185, 185, 185);
    width: 150px;
    height: 150px;
    margin:0px;
    margin-right: auto;
    margin-left: auto;
}

#logoimage>img{
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    background-color: rgb(230, 230, 230);
}

.navbar{
    background: -moz-linear-gradient(180deg, rgba(247,247,247,1) 72%, rgba(223,223,223,1) 94%, rgba(212,212,212,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(247,247,247,1) 72%, rgba(223,223,223,1) 94%, rgba(212,212,212,1) 100%);
    background: linear-gradient(180deg, rgba(247,247,247,1) 72%, rgba(223,223,223,1) 94%, rgba(212,212,212,1) 100%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.navbar-header{
    float: none;
    display: block;
    width: 100%;
    padding: 0px;
    margin:0px;
}

.navbar-brand{
    float: none;
    padding: 0px;
    margin: 0px;
}

.navbar ul{
    right: auto;
    left: auto;
    display: inline-flex;
    font-family: 'Josefin Sans', sans-serif;
    border-top: solid black 1px;
    border-top-style: groove;
}

.typeTag{
    background: -moz-linear-gradient(-45deg, rgb(94, 20, 138) 44%, rgb(123, 50, 165) 74%, rgb(148, 70, 194) 100%);
    background: -webkit-linear-gradient(-45deg, rgb(94, 20, 138) 44%, rgb(123, 50, 165) 74%, rgb(148, 70, 194) 100%);
    background: linear-gradient(-45deg, rgb(94, 20, 138) 44%, rgb(123, 50, 165) 74%, rgb(148, 70, 194) 100%);
    border-radius: 10px;
    color: rgb(235, 235, 235);
    font-size: 1.2em;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
  
.navbar .navbar-collapse {
    text-align: center;
}

#navbar{
    width: 100%;
    padding-left: auto;
    padding-right: auto;
}

#navbar li>a{
    color: rgb(94, 185, 67);
    font-size: 1.7em;
    font-weight: bold;
}

#navbar li>a:hover{
    background-color: rgb(94, 185, 67);
    font-size: 1.7em;
    transition: background-color 1.5s , color .5s;
    /*color: rgb(115, 38, 126);*/
    color: rgb(255, 255, 255);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#navbar li>a:focus{
    background-color: rgb(94, 185, 67);
    font-size: 1.7em;
    transition: background-color 1.5s, font-size .5s, color .5s;
    color: rgb(115, 38, 126);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

#MainWrapper>.row{
    height: 100%;
}

.row{
    margin: 10px;
}

.col{
    margin-right:10px;
    margin-left:10px;
}

.maintext{
    border: 2px solid whitesmoke;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.822);
    z-index: 0;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: rgb(211, 209, 209) 2px 2px;
}

.imagesTop img{
    height: 100%;
    width: 100%;
}

.imagesTop{
    height: 200px;
    /*border: solid black 3px;*/
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: contain;
}

.person{
    float:left;
    clear:right;
    margin: 20px;
    margin-right: 50px;
    font-size: 1.5em;
}

.clear{
    clear: left;
    display: block;
}

.groupElement:nth-child(even){
    width: 100%;
    border: solid rgb(94, 185, 67) 1px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.groupElement:nth-child(odd){
    width: 100%;
    border: solid rgb(94, 185, 67) 1px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
}

.counter{
    display: inline-block;
    border-radius: 10px;
    min-width: 15px;
    background-color: rgb(192, 192, 192);
    color: black;
    font-size: 0.7em;
    text-align: center;
}

.groupImage{
    width: 100%;
    height: 50px;
}

.groupImage img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 100%;
}

.portrait{
    border: dashed black 1px;
    height: 170px;
    width:  150px;
    min-width: 50px;
    min-height: 56px;
    margin: 5px;
    display: block;
}

.portrait img{
    width: 100%;
    height: 100%;
}

.portrait-large{
    border: dashed black 1px;
    height: 270px;
    width:  250px;
    margin: 10px;
    display: block;
    float: left;
}

.portrait-large img{
    width: 100%;
    height: 100%;
}

.breadcumb{
    color: rgb(115, 38, 126);
    z-index: -1;
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    margin-bottom:8px;
}

h1,h2,h3{
    font-weight: bolder;
    font-size: 1.8em;
    color: rgb(94, 185, 67);
    font-family: 'Josefin Sans', sans-serif;
}

h1{
    font-size: 2em;
}

p{
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
}

ul{
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    list-style-image: url('../images/noun_seed_1681996.svg');
}

.menu ul{
    padding: 15px;
}

a{
    color: rgb(94, 185, 67);
    font-size: 1.1em;
    transition: color 1s;
}

.pagination li>a{
    color: rgb(94, 185, 67);
}

.pagination{
    float: right;
}

a:hover{
    color: rgb(115, 38, 126);
    text-decoration-line: none;  
}

a:focus{
    color: rgb(94, 185, 67);
    text-decoration-line: underline;  
    text-decoration-style: dotted;
}

.carousel-inner{
    height:400px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

.icon{
    display: inline-block;
    margin: 10px;
    padding: 0px;
    height: 40px;
    width: 40px;
}


#FooterContainer{
    font-family: 'Josefin Sans', sans-serif;
    background-color:  rgb(64, 180, 89);
    padding: 10px;
    padding-right: 0px;
    /*position: relative;*/
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

form{
    border: rgb(115, 38, 126) 1px solid;
    border-radius: 5px;
    margin: 10px;
    background-color: rgba(245, 245, 245, 0.507);
}

form input,textarea{
    display: block;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}

form label{
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin: 10px;
}

form button{
    font-family:'Montserrat', sans-serif;
    text-align: center;   
}